<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samudra20"
        tools:targetApi="31">
        <activity
            android:name=".Home.Main.BeachInfo.Tide.TideAdapter"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.Tide.TideActivity"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.Tides.TideActivity"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.tsAc"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.Tsunami.Ts"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.AirIndex.TsunamiSafety"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.Tsunami.TsunamiCenter"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.WaterQuality.WaterFirst"
            android:exported="false" />
        <activity
            android:name=".Home.Drawer.HelpDesk"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.WaterQuality.RealTimeFeed"
            android:exported="false" />
        <activity
            android:name=".Home.SOS.Sos"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.FishingZone.FishingZone"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.WaterQuality.WaterQuality"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.AirIndex.AirIndex"
            android:exported="false" />
        <activity
            android:name=".Home.Main.BeachInfo.BeachInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Home.Main.OpeningPageMap"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.finalloginpage.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.finalloginpage.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs44tp96R3mVinAz-reiwmU1QlMG_1yIg" />
    </application>

</manifest>